*{
    box-sizing: border-box;
    margin: 0px;
    border: 1px solid red;
}

.top-div{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.image-panel{
    width: 30%;
    position: relative;
    justify-content: center;
    display: flex;
}
.form-panel{
    width: 70%;
}
.logo{
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 100px;
    height: 6rem;
    top: 0;
    margin-top: 12rem;
}
.art-credit{
    position: absolute;
    margin-bottom: 1.2em;
    bottom: 0;
}

.form-panel{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

h3{
    margin-left: 2rem;
}
input{
    margin-top: 0.5rem;
    width: 20px;
}

.form-fields{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    gap: 20px;
    width: 42rem;
    height: 16rem;
}
.form-field{
    width: 12rem;
    margin: 4px 0px;
    height: 90px;
}

.text-panel{
    height: 13rem;
    box-shadow: 2px;
}

.sign-up-panel{
    height: 18rem;
    box-shadow: 2px;
}