*{
    box-sizing: border-box;
    margin: 0px;
    /* border: 1px solid red; */
    font-family: 'Lato', sans-serif;
}

.text-panel{
    font-size: larger;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.create-panel{
    margin-left: 2rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-div{
    display: flex;
    flex-direction: row;
    width: 84rem;
    height: 100vh;
}

.image-panel{
    width: 40%;
    position: relative;
    justify-content: center;
    display: flex;
    background-image: url("images/hero.jpg");
    background-position: center;
}
.form-panel{
    width: 70%;
    background-color: #f9fafb;
    font-weight: bold;
}
.logo{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 8rem;
    top: 0;
    margin-top: 11rem;
    background: rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: 'custom1';
    src: url("fonts/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    
    font-family: 'custom2';
    src: url("fonts/Typographica-Blp5.ttf");
    font-weight: normal;
    font-style: normal;
}

.logo-text{
    font-family: 'custom2', sans-serif;
    vertical-align: middle;
    font-size:32px;
    line-height: 135px;
}

.art-credit{
    position: absolute;
    margin-bottom: 1.2em;
    bottom: 0;
}

.form-panel{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
.form-part{
    padding-left: 2rem;
}

h3{
    margin-left: 1rem;
}
input{
    margin-top: 0.5rem;
    width: 9rem;
}

div>h3{
    margin: 0px;
}


.form-fields{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 42rem;
    height: 16rem;
}
.form-field{
    width: 12rem;
    margin: 3px 0px;
    height: 90px;
}

.text-panel{
    height: 12rem;
    margin-left: 0rem ;
    font-weight: bold;
}
.text-panel p{
    font-weight: bold;
}

.sign-up-panel{
    height: 18rem;
    background-color: white;
    box-shadow: 1px 3px 3px gray;
}